html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex; /* Folosim flexbox pentru layout */
    height: 80%; /* Înălțimea containerului */
    margin:0;
}

.column {
    flex: 1; /* Fiecare coloană ocupă spațiu egal */
    padding: 20px;
    border: 0 solid #ccc;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; /* Adăugare spațiu între conținut și marginile antetului */
    background: #c8b2ea;
    color: white;
    position: relative;
    padding: 0 2rem;
    padding: 5vh;
    text-align: center;
}

.profil {
    margin-right:10vw; /* Mărește spațiul din stânga elementului, împingându-l spre dreapta */
}

.profil a {
    padding: 10px 20px; /* Stilizare buton */
    background-color: #301b58;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.profil a:hover {
    background-color: #d9b5e9; /* Stilizare buton la hover */
}


header .logo a{

    color:#f4f4f4;
    font-weight: 700;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;

}

header .profil{
    align-items: flex-end;

}

.form-border, .form1, .form2 {
    width: 80%; /* Asigură că toate formularele se extind pe toată lățimea containerului lor */
    padding: 10px;
    box-sizing: border-box; /* Include padding-ul în calculul lățimii */
}

.form1 input[type="text"], .form2 input[type="text"]
{
    font-size: 1.0em; /* modificare dimensiune font */
    padding: 1em; /* modificare spațiu de margine în interiorul casetelor de introducere */
    margin-bottom: 1em; /* modificare spațiu între elemente */
    resize: vertical;
}

.form2 input[type="text"] {
    width: 100%; /* Lățimea câmpului de intrare */
    padding: 10px; /* Adaugă spațiu în jurul textului */
    box-sizing: border-box; /* Asigură că lățimea totală include și padding-ul */
    height: 355px; /* Înălțimea casetei de text */
    resize: vertical; /* Permite redimensionarea verticală a casetei de text */
}


.form-border{
    background: #fff;
    padding: 1.2vw;
    border-radius: 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    margin: 1vw auto;
    background-color: #dcd0f2;
    width:90%; 
    margin-bottom: 2vh;
    margin-top: 10px;
    height: auto;
  }

button
{
    position: fixed; /* Fixează bara lateral */
    top:0; /* Începe de la partea de sus a paginii */
    right: 0; /* Poziționează pe partea dreaptă */
    width: 50px; /* Lățimea butonului/barului */
    height: 100%; /* Înălțimea pe tot ecranul */
    background-color: #c8b2ea; /* Culoare de fundal verde */
    display: flex;
    flex-direction: column; /* Așează conținutul vertical */
    justify-content: center; /* Centrează butonul vertical */
    background-color: #d9b5e9;
    
}
/* Pentru ecrane cu lățimea mai mică de 768px */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        height: auto; 
    }

    .column {
        width: 100%; /* Coloanele ocupă întreaga lățime */
        margin-bottom: 20px; /* Spațiu între coloane */
    }

    .form-border {
        max-width: 100%; 
        width: 80%; 
    }

    header .logo a {
        font-size: 6vw; /* Modificăm dimensiunea fontului pentru logo */
    }
    .form1 input[type="text"] {
        width: 100px;
    }

    .form2 input[type="text"] {
        height: 150px; /* Reducem înălțimea câmpului de text pentru a se potrivi pe ecrane mai mici */
    }
}
