html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content:space-around;
    height: 80%;
    margin:0;
    width: 600w;
}

.container .form{
    text-align: center;
}
.column {
    flex: 1;
    padding: 20px;
    border: 0 solid #ccc;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    background: #c8b2ea;
    color: white;
    position: relative;
    padding: 0 2rem;
    padding: 5vh;
    text-align: center;
}

.profil {
    margin-right:10vw;
}

.profil a {
    padding: 10px 20px;
    background-color: #301b58;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.profil a:hover {
    background-color: #d9b5e9;
}


header .logo{
    cursor:pointer;
    color:#f4f4f4;
    font-weight: 700;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;

}

header .profil{
    align-items: flex-end;

}

.form-border, .form1, .form2 {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.form1 input[type="text"], .form2 input[type="text"]
{
    font-size: 1.0em;
    padding: 1em;
    margin-bottom: 1em;
    resize: vertical;
}

.form2 input[type="text"] {
   
   
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 355px;
    resize: vertical;
    width: 100%;
    text-orientation: sideways-right;
}



.form-border{
    background: #fff;
    padding: 1.2vw;
    border-radius: 0.5vw;
    box-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    margin: 1vw auto;
    background-color: #dcd0f2;
    width:90%; 
    margin-bottom: 2vh;
    margin-top: 10px;
    height: auto;
  }

button
{
    position: fixed;
    top:0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: #c8b2ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d9b5e9;
    
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column; 
        height: auto; 
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-border {
        max-width: 100%; 
        width: 80%; 
    }

    header .logo a {
        font-size: 6vw;
    }
    .form1 input[type="text"] {
        width: 100px;
    }

    .form2 input[type="text"] {
        height: 150px;
    }
}
