* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans serif;
}
 
body {
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('sql_index.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Corectat pentru a se asigura că este sub navbar */
}

li{
    list-style: none;
}

a{
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: purple;
}

header{
    position: relative;
    padding: 1.5 2rem;
}


.navbar{
    width: 100%;
    height: 60px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-weight: 700;
    font-size: 40px;
    font-weight: bold;
}

.navbar .links{
    display:flex;
    align-items: center;
    gap: 2;
    border-radius: 40px;
}


.navbar .toggle_btn{
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    cursor:pointer;
    display:none;
}

.navbar .links li a {
    margin-left:40px;
    justify-content: space-around;
    font-size: 30px;
    padding: 6px 10px;
    color: #fff;
    border-radius: 20px;
}

.navbar .links li a:hover,
.navbar .links li a.active {
    background-color: #fff;
    color: #2b1055;
    border: 2px solid #fff; 
}

.navbar .toggle_btn {
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: purple;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color:#fff;
}

.action_btn:active{
    scale: 0.95;
}

/*Dropdown Menu*/

.dropdown_menu{
    display: none;
    z-index: 3;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 170px;
}

.dropdown_menu li{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Resposive_Design*/

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display:none;
    }

    .navbar .toggle_btn{
        display:block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}