* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans serif;
}
 
body {
    height: 100vh;
    background: #e8e6f1;
    backdrop-filter: blur(15px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
li{
    list-style: none;
}

a{
    position: relative;
    z-index: 3;
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover{
    color: purple;
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-weight: 700;
    font-size: 40px;
    font-weight: bold;
}

.navbar .links{
    display:flex;
    gap: 1rem;
    border-radius: 20px;
}

i{
    color: black;
}
.navbar .toggle_btn{
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    cursor:pointer;
    display:none;
}

.navbar .links li a {
    text-decoration: none;
    font-size: 30px;
    padding: 3px 20px;
    color: black;
    border-radius: 20px;
}
.navbar .links li a:hover,
.navbar .links li a.active {
    background-color: #fff;
    color: #2b1055;
    border: 2px solid #fff; /* Adăugă contur alb */
}

.navbar .toggle_btn {
    z-index: 3;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: purple;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color:#fff;
}

.action_btn:active{
    scale: 0.95;
}


/*Dropdown Menu*/
.dropdown_menu{
    display: none;
    z-index: 3;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 329px;
}

.dropdown_menu li{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    font-size: 1.25rem; /* Ajustează dimensiunea după preferințe */
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Așează coloanele pe rând și centrați conținutul vertical */
.cols_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh; /* Înălțimea containerului va fi de 100% din viewport */
}

/* Stiluri pentru coloana stângă (de exemplu, chenarul utilizatorului) */
.left_col {
    width: 400px; /* sau cât dorești să fie lățimea */
    margin-right: 50px; /* adaugă un spațiu la dreapta */
    background: #fff; /* sau orice culoare de fundal dorești */
    border-radius: 8px; /* colțuri rotunjite */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* umbră pentru efect de elevație */
    padding: 0px; /* spațiu în interiorul chenarului */
    display: flex;
    flex-direction: column; /* ordonează elementele în coloană */
    align-items: center; /* centrați-le orizontal */
    text-align: center; /* asigură că textul este de asemenea centrat */
}

.probleme li{
    
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    align-items: left;
    margin-left: -100px;
    margin-bottom: 10px;
}

/* Stiluri pentru imagine */
.img_container {
    margin-bottom: 0px; /* spațiu sub imagine */
}

.img_container img {
    width: 100%; /* poți să setezi o lățime specifică dacă preferi */
    height: auto; /* menține proporțiile imaginii */
    border-radius: 50%; /* rotunjește colțurile pentru a face imaginea circulară */
}

/*Resposive_Design*/

@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
        display:none;
    }

    .navbar .toggle_btn{
        display:block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}