.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    padding-left: calc(110px + 5vw);
    margin-top: 0vh;
    overflow-x: auto;
}

h1 {
    text-align: center;
    margin-bottom: 2vw;
}

.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.filter-section input, .filter-section select {
    padding: 1vw;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
}
.table-responsive {
    overflow-x: auto;
}
#problemsTable {
    width: auto;
    min-width: 75vw;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.problemsTable th, #problemsTable td ,#problemsTable tr{
    border: 1px solid #ddd;
    padding: 1vw;
    text-align: left;
}
.problemsTable thead tr {
    background-color: #009879;
    color: black;
    text-align: left;
    font-weight: bold;
}
.problemsTable th, .problemsTable td {
    padding: 12px 15px;
}

.problemsTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.problemsTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.problemsTable tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#problemsTable th, #problemsTable tr {
    background-color: #f2f2f2;
}

.lista-descarcari{
    margin-top: 20px; 
}
.lista-descarcari ul{
    list-style-type:none;
    padding: 0;
    list-style-position: inside;
    display: flex;
    flex-direction: row;
     
}

.lista-descarcari #mytag ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 0em;
}

footer {
    z-index: 10;
    width: 100%;
    text-align: center;
    background-color: #e6ccff; 
    flex-grow:0;
    flex-shrink: 0;
    position:relative;
    padding: 5px;
  }

.lista-descarcari li, #mytag li {
    padding-left: 30px;
    line-height: 30px;
    align-items: flex-end;
}

.lista-descarcari li img, #mytag li img {
    vertical-align: middle;
    margin-right: 10px;
}

.problemsTable th {
    background-color: #f2f2f2;
}

.problem-filter-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.form-group {
    background-color: #E3D3F3;
    padding: 50px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

.form-group label {
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    display: block;
    margin-bottom: 10px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    grid-column: span 2;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #B185D9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #A070CF;
}

@media(min-width: 576px) and (max-width: 992px){
    .main-content {
        padding-left: 11vw;
    }
    .problem-filter-form {
        grid-template-columns: 1fr;
    }

    button {
        grid-column: span 1;
    }

    .form-group {
        width: 100%;
    }
    .problem-filter-form {
        grid-template-columns: 1fr;
    }

    button {
        grid-column: span 1;
    }

}

@media(max-width: 576px){
       .side-nav {
        display: none;
    }

    .main-content {
        margin-top: 20px;
        padding: 10px;
    }

    #problemsTable td {
        padding: 1vw 0;
        white-space: normal;
        overflow-wrap: break-word;
        text-align: left;
        font-size: 4vw;
    }

    .problem-filter-form {
        grid-template-columns: 1fr;
        gap: 10px;
        margin: 10px;
    }

    .form-group {
        padding: 15px;
        width: 100%;
    }

    button {
        grid-column: span 1;
        padding: 10px;
        font-size: 1em;
    }
    .lista-descarcari ul {
        flex-direction: column;
        align-items: center;
    }

    .lista-descarcari li {
        margin-bottom: 2vw;
    }
}
