.main-content {
    padding: 2vw;
    padding-left: calc(110px + 5vw); /* Ajustează această valoare dacă side-nav-ul tău este mai lat și adaugă un spațiu suplimentar */
    margin-top: -20vh; /* Ajustează conform designului tău */
    overflow-x: auto; /* Asigură-te că tabelul poate defila orizontal dacă este prea larg */
}

h1 {
    text-align: center;
    margin-bottom: 2vw;
}


.filter-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}


.filter-section input, .filter-section select {
    padding: 1vw;
    border-radius: 0.5vw;
    border: 1px solid #ccc;
}
.table-responsive {
    overflow-x: auto; /* Asigură defilarea orizontală pentru ecrane mici */
}
#problemsTable {
    width: auto;
    min-width: 75vw; /* Setează o lățime minimă pentru a păstra lizibilitatea tabelului */
}

#problemsTable th, #problemsTable td {
    border: 1px solid #ddd;
    padding: 1vw;
    text-align: left;
}

#problemsTable th {
    background-color: #f2f2f2;
}

@media(min-width: 576) and (max-width: 992px){
    .main-content {
        padding-left: 11vw; /* Ajustează această valoare pentru responsive design */
    }
}
/* Adaugă acest media query pentru a trata cazurile când side-nav-ul este retractabil */
@media(max-width: 576px){
    .side-nav {
        display: none;
      }

    .main-content {
        padding: 0vw; /* Adaugă padding în jurul conținutului principal */
        margin-left: 4vw; /* Împinge conținutul principal la dreapta pentru a evita side-nav-ul */
        margin-top: -40vw; /* Lasă loc pentru navbar */
    }
    

    #problemsTable td {
        padding: 1vw 0;
        white-space: normal;
        overflow-wrap: break-word;
        text-align: left;
        font-size: 4vw;
    }
}
